<html ng-app="newStack">
<head>
    <meta charset="UTF-8">
    <title>New Stack</title>
    <!--Styling-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="assets/styles/syle.css">
    
</head>
<body ng-controller="MainController as mc">
    
    <label for="">Input your question here.</label>
    <br>
   <input type="text" ng-model="newQ.question"> 
   <br>
    <label for="" >One word description of your question.</label>
    <br>
   <input type="text" ng-model="newQ.tags">
   <button ng-click="discFunc(newQ)">Submit question</button> 
    
    
   
   
   
   
   
   
    
    <!--UPVOTE/DOWNVOTE-->

<div class="rating">
    <p class="likes" ng-click="plusOne($index)">{{product.likes}} </p>
    <p class="dislikes" ng-click="minusOne($index)">{{product.dislikes}}</p>
</div>

<!--Each item needs a like and dislike property-->

  <!--$scope.plusOne = function(index) {
  	$scope.products[index].likes += 1;
  }
  $scope.minusOne = function(index) {
  	$scope.products[index].dislikes += 1;
  }-->
    
        <!--JS Components-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <!--Custom Application-->
    <script src="assets/apps/apps.js"></script>
    <script src="assets/apps/components/main-controller.js"></script>
</body>
</html>