<html ng-app="newStack">

<head>
    <meta charset="UTF-8">
    <title>New Stack</title>
    <!--Styling-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="assets/styles/style.css">

</head>

<body ng-controller="MainController as mc">
    <div>
        <input type="text" ng-model="query" placeholder="search">
        <button ng-click="sortOrder = 'tags'">Sort by tags -A</button>
        <button ng-click="sortOrder = '-tags'">Sort by tags -D</button>
    </div>

    <label for="">Input your question here.</label>
    <br>
    <input type="text" ng-model="newQ.question">
    <br>
    <label for="">One word description of your question.</label>
    <br>
    <input type="text" ng-model="newQ.tags">
    <button ng-click="discFunc(newQ)">Submit question</button>

<ul>
        <li ng-repeat="quest in ourStack | filter: query | orderBy: sortOrder track by $index">
        <h3>{{quest.question}}</h3>
        <button ng-click="voteUp($index)">Vote Up: </button>
        <label for="upVote" class="uppy">{{quest.likes}}</label>
        <button ng-click="voteDown($index)">Vote Down: </button>
        <label for="downVote"class="downy">{{quest.dislikes}}</label>
        <br/>
        <div>
            <ul>
                <li class="list-group-item" ng-repeat="thing in quest.ans track by $index">
                    <button ng-click="cvoteUp(quest, $index)">Vote Up: </button>
                    <label for="upVote" class="uppy">{{thing.likes}}</label>
                    <button ng-click="cvoteDown(quest, $index)">Vote Down: </button>
                    <label for="downVote" class="downy">{{thing.dislikes}}</label>
                    <button ng-click="destroy(quest, $index)">Delete Comment</button>
                    {{thing.date | date: "yyyy/MM/dd HH:mm" }} <h4>{{thing.body}}</h4>
                    <input type="checkbox">Best Answer
                    <br/>
                </li>
            </ul>
        </div>
        <input type="text" ng-model="quest.response.body">
        <button ng-click="respFunc(quest)">Submit</button>
    </li>
</ul>




    <!--UPVOTE/DOWNVOTE-->

    <div class="rating">
        <p class="likes" ng-click="plusOne($index)">{{product.likes}} </p>
        <p class="dislikes" ng-click="minusOne($index)">{{product.dislikes}}</p>
    </div>

    <!--JS Components-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <!--Custom Application-->
    <script src="assets/apps/apps.js"></script>
    <script src="assets/apps/components/main-controller.js"></script>
</body>

</html>