#response {
    margin-left : 75;
}

.uppy{
    color: green;
    
}

.downy{
    color: red;
    
}


.body{
    margin: 5px;
    padding: 5px;
   
    }

.bestAnswer{
    background: #ff9;

}
.showComment{
    display: none;
}