#response {
    margin-left : 75;
}

.uppy{
    color: green;
    
}

.downy{
    color: red;
    
}


.body{
    margin: 5px;
    padding: 5px;
   
    }

.bestAnswer{
    background: cadetblue;

}

.showComment{
    display: none;
}

#title{
    color: #DF691A;
    font-weight: 600;
}
img{
    height: 40px;
}